//! **************************************************************************
// Written by: Map P.20131013 on Sun May 07 15:52:19 2017
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "P99";
PROHIBIT = SITE "P43";
PROHIBIT = SITE "P42";
PROHIBIT = SITE "P39";
PROHIBIT = SITE "P49";
PROHIBIT = SITE "P48";
PROHIBIT = SITE "P47";
COMP "B<1>" LOCATE = SITE "P83" LEVEL 1;
COMP "A<5>" LOCATE = SITE "P40" LEVEL 1;
COMP "B<2>" LOCATE = SITE "P78" LEVEL 1;
COMP "A<6>" LOCATE = SITE "P53" LEVEL 1;
COMP "B<3>" LOCATE = SITE "P71" LEVEL 1;
COMP "A<7>" LOCATE = SITE "P57" LEVEL 1;
COMP "C<0>" LOCATE = SITE "P91" LEVEL 1;
COMP "B<4>" LOCATE = SITE "P68" LEVEL 1;
COMP "A<8>" LOCATE = SITE "P60" LEVEL 1;
COMP "C<1>" LOCATE = SITE "P92" LEVEL 1;
COMP "B<5>" LOCATE = SITE "P66" LEVEL 1;
COMP "A<9>" LOCATE = SITE "P62" LEVEL 1;
COMP "C<2>" LOCATE = SITE "P94" LEVEL 1;
COMP "B<6>" LOCATE = SITE "P63" LEVEL 1;
COMP "C<3>" LOCATE = SITE "P95" LEVEL 1;
COMP "B<7>" LOCATE = SITE "P61" LEVEL 1;
COMP "C<4>" LOCATE = SITE "P98" LEVEL 1;
COMP "B<8>" LOCATE = SITE "P58" LEVEL 1;
COMP "C<5>" LOCATE = SITE "P2" LEVEL 1;
COMP "B<9>" LOCATE = SITE "P54" LEVEL 1;
COMP "C<6>" LOCATE = SITE "P3" LEVEL 1;
COMP "C<7>" LOCATE = SITE "P4" LEVEL 1;
COMP "C<8>" LOCATE = SITE "P5" LEVEL 1;
COMP "C<9>" LOCATE = SITE "P9" LEVEL 1;
COMP "A<10>" LOCATE = SITE "P65" LEVEL 1;
COMP "A<11>" LOCATE = SITE "P67" LEVEL 1;
COMP "A<12>" LOCATE = SITE "P70" LEVEL 1;
COMP "A<13>" LOCATE = SITE "P79" LEVEL 1;
COMP "A<14>" LOCATE = SITE "P84" LEVEL 1;
COMP "A<15>" LOCATE = SITE "P86" LEVEL 1;
COMP "D" LOCATE = SITE "P17" LEVEL 1;
COMP "E" LOCATE = SITE "P16" LEVEL 1;
COMP "B<10>" LOCATE = SITE "P41" LEVEL 1;
COMP "B<11>" LOCATE = SITE "P36" LEVEL 1;
COMP "B<12>" LOCATE = SITE "P34" LEVEL 1;
COMP "B<13>" LOCATE = SITE "P32" LEVEL 1;
COMP "B<14>" LOCATE = SITE "P25" LEVEL 1;
COMP "B<15>" LOCATE = SITE "P22" LEVEL 1;
COMP "C<10>" LOCATE = SITE "P10" LEVEL 1;
COMP "C<11>" LOCATE = SITE "P11" LEVEL 1;
COMP "C<12>" LOCATE = SITE "P12" LEVEL 1;
COMP "C<13>" LOCATE = SITE "P15" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
COMP "A<0>" LOCATE = SITE "P18" LEVEL 1;
COMP "A<1>" LOCATE = SITE "P23" LEVEL 1;
COMP "clk" LOCATE = SITE "P89" LEVEL 1;
COMP "A<2>" LOCATE = SITE "P26" LEVEL 1;
COMP "A<3>" LOCATE = SITE "P33" LEVEL 1;
COMP "B<0>" LOCATE = SITE "P85" LEVEL 1;
COMP "A<4>" LOCATE = SITE "P35" LEVEL 1;
NET "clk_BUFGP/IBUFG" PERIOD = 31.25 ns HIGH 50%;
SCHEMATIC END;

